@charset "UTF-8";
/* CSS Document */
.nav-move{transition: 1s;}
.nav-low.hide{transform:translateX(100%);}
.header-row.hide{transform: translateY(-140%);}
.button.hide{transform: translateX(-100%);}
.button2.hide{transform: translateX(-240%);}