@charset "UTF-8";
/* CSS Document */
#scroll{
	margin-top: 5%;
	width: 80%;	
	height: 65vw;
	}
.scroll-bar{
	position: absolute;
	max-width:30px;
	
}
#whatis-title{
	display: block;
	width: 100%;
	height: auto;
}
#whatis-title p{
	margin-top: 0px;
}
.whatis{
	width: 100%;
	max-width: 600px;
	margin-bottom: 0px;
}

.circle{
	position: absolute;
	max-width: 120px;
	width: 18%;
    left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.back-img{
	position: absolute;
	margin-top: 25%;
	left: -50%;
	z-index: -1;
}

.back-img02{
	position: absolute;
	margin-top: 48%;
	right: -35%;
	z-index: -1;
	height: 600px;
}



.background-visual{
	position: relative;
	display: flex;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.text01{
	width: 80%;
	position: absolute;
	right: 0px;
	z-index: 9999;
	font-size: 4vw;
	text-align: right;
	
}
.text01 span{
	/*background:linear-gradient(transparent 45%, #ffffff 20%);*/
	color: #8AA3D2;
}
.main-img{
	margin-top: 8%;
}