@charset "UTF-8";
/* CSS Document */

#wrap{
	padding-top: 5rem;
	overflow: hidden;
	width: 100%;
	background: #fff;
	margin-left: auto;
  margin-right: auto;
}



.spinner {
  width: 50px;
  height: 50px;
  margin: 100px auto;
  background-color: black;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* Loading Animation */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Hide Loading Block */
.loaded {
  opacity: 0;
  visibility: hidden;
}

/*hover透過*/
#header h1{
	transition: .3s;
}
#header h1:hover{
	opacity: 0.3;
}
nav{
	width: 100%;
	height: auto;
	text-align: right;
}
nav ul li{
	transition: .3s;
	display: inline-block;
	font-size: 20px;
	margin-right: 2rem;
}
nav ul li:hover{
	opacity: 0.3;
}

@media only screen and (max-width:6000px){

*{
	margin: 0;
	padding: 0;
}


#Explanation{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.text02{
	margin-top: 25%;
	width: 100%;
	z-index: 999;
}

.left_text{
	text-align: right;
	color: #8AA3D2;
	width: 100%;

}




#Explanation img{
	margin-bottom: 50px;
}

#Explanation p{
  font-family: a-otf-gothic-bbb-pr6n,sans-serif;
  font-weight: 300;
  font-style: normal;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	font-feature-settings: "palt";
	margin-bottom: 3.5rem;
	color: #8AA3D2;
	letter-spacing: 0.07em;
}
.border-line {
    background:linear-gradient(transparent 30%, #fff 30%);
}

#header a{
text-decoration:none;
/*color: #8AA3D2;*/
}

	.light-blue{color: #8AA3D2;}
	.header-row{
		position: fixed;
		z-index: 20;
		left: 3%;
		top: 2%;
		font-size: 25px;
	}
	.header-row a{
		font-weight: 400;
	}


	.nav-top{
		display: none;
	}
	.nav-low{
		right: 0%;
		bottom: 0%;
		width: 230px;
		display: block;
		position: fixed;
		z-index: 20;

	}

	.nav-low a{
		/*color: #8AA3D2;*/
		margin-bottom: 17%;
        font-size: 20px;
		font-weight: 500;
	}

	.change{left:2%; bottom: 2.5%; display: flex; z-index: 20; position: fixed;}
	.change img{width: 16px; margin-left: 20%;}
	.change img:hover{opacity: 0.4;}



li a{
text-decoration:none;
position: relative;
display: flex;
flex-direction: row;
}

li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

li a:hover::after {
  transform: scale(1, 1);
}


#canvas{
	float: none;
	/*margin-top: 5rem;*/

}

#side{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.clearfix:after{
	canvas:"";
	clear: both;
	display: block;
}


nav li{
	list-style: none;
	font-family: objektiv-mk1,sans-serif;
  font-weight: 200;
  font-style: normal;
	padding-left: 1.5rem;
	font-feature-settings: "palt";
　　-webkit-font-feature-settings: "palt";
　　-moz-font-feature-settings: "palt";

}

#header{
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	text-align: center;
	align-items: flex-end;
}
#header h1 {
  font-family: objektiv-mk1, sans-serif;
  font-weight: 300;
  font-style: normal;
　　font-feature-settings: "palt";
　　-webkit-font-feature-settings: "palt";
　　-moz-font-feature-settings: "palt";

}

body{
  /* do nothng */
	/*filter: invert(0%);*/

}

#canvas {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  height: auto;
  width: 80vw;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

}



#canvas video {
 display: block;
 width: 16%;

 /*height: auto;*/
 /*max-width: 200px;
 max-height: 200px;*/
}

#canvas img {
 display: block;
 width: 25%;
 height: 25%;
 max-width: 200px;
 max-height: 200px;
}

.footer-navi{
	margin-top: 40%;
	margin-bottom: 0;
	bottom: 0;
	position: static;
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 5em;
	flex: none;
	font-feature-settings: "palt" 1;
	letter-spacing: 0,01;
  text-align: center;
}
	.footer-navi h6{
	font-family: objektiv-mk1, sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: 12px;
	color: #8AA3D2;

	}




	}
@media only screen and (max-width:1426px){
	/*mac screen*/
	#canvas{max-width: 1300px;}
}
@media only screen and (max-width:1250px){
	#canvas video {
 width: 20%;
 height: 20%;

}
}
@media only screen and (max-width:850px){
	#canvas video {
 width: 25%;
 height: 25%;

}
}
@media only screen and (max-width:450px){

	.header-row a{
		font-size: 60%;
	}
	.nav-low a{
		font-size: 110%;
	}
	#scroll{
		height: 680px;
	}
	.scroll-bar{
		width: 8%;
	}
	.circle{
		width: 30%;
	}
	.whatis{
		width: 300px;
	}
	#whatis-title p{
		font-size: 15px;
	}
	#Explanation{
		width: 80%;
		height: 200vw;
	}
	#Explanation p{
		font-size: 16px;
		margin-bottom: 10%;
	}
	.text02{
	margin-top: 85%;
	width: 100%;
	position: absolute;
   }

}
